#current {
  background-color: rgba(211,211,211,0.3);
  float: left;
}

#next {
  background-color: rgba(211,211,211,0.3);
  float: left;
}


#time {
  background-color: rgba(211,211,211,0.3);
  float: right;
}
